body {
	font-size: 2.2rem;

	@media (max-width: 480px) {
		font-size: 1.9rem;
	}

	@media (max-width: 430px) {
		font-size: 1.6rem;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	// font-family: $mont;
	font-weight: 700;
}
