//
$color-bg: #292e3e;
$color-bg-lighter: #33394d;
$color-bg-darker: #1f222e;
$color-bg-darkest: #23262e;

$color-header: #1f2128;
$color-desc: #1b1c1f;
$color-active: #14171f;

$color-black: #000000;
$color-white: #fff;
// $color-white: #dfdfdf;

$color-blue: #7ab7e7;
$color-red: #d85252;
$color-yellow: #d9b741;
$color-green: #5c9f57;

//font-family: 'Montserrat', sans-serif; - titles, w - 400 500 700
//font-family: 'Hind', sans-serif; - text, w - 300 400
// $mont: 'Montserrat', sans-serif;
// $hind: 'Hind', sans-serif;
