.health {
	background-color: rgba($color-white, 0.5);
	flex-grow: 2;
	text-align: center;
	position: relative;
	border-radius: 0.6rem;
	overflow: hidden;

	&--amount {
		position: absolute;
		font-weight: 700;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 6;
	}

	&--current-bar {
		// background: linear-gradient(
		// 	to right,
		// 	$color-white 0%,
		// 	$color-white 54%,
		// 	transparent 54%
		// );
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 5;
	}
}
