.settings {
	// settings
	&__block {
		margin-top: 0.9rem;
		display: flex;
		flex-direction: column;
		gap: 0.6rem;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__values {
		display: flex;
		align-items: center;
		gap: 0.9rem;
	}

	&__value {
		display: flex;
	}

	&__controls {
		display: flex;
		align-items: center;
		gap: 0.3rem;
	}
}
