.stats {
	padding: 0.6rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.6rem;
	position: relative;

	&__cover {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	& *::selection {
		color: none;
		background: none;
	}

	&__item {
		padding: 0.6rem 0.9rem;
		border-radius: 0.4rem;
		display: flex;
		align-items: center;
		gap: 0.6rem;
		cursor: pointer;
		position: relative;

		&--wide {
			width: 100%;
		}

		&--value {
			font-weight: 600;
		}

		&--add {
			padding-left: 1.1rem;
			background-color: mix($color-bg-lighter, $color-blue, 85%);
			color: $color-white;
			cursor: pointer;
			display: flex;
			gap: 0.6rem;

			& > i {
				transition: all 0.1s ease-in-out;
			}

			&:hover > i {
				transform: scale(1.2);
			}
		}
	}

	// notes
	&__note {
		background-color: $color-header;
		color: $color-white;
		display: flex;
		flex-direction: column;
		padding: 0.6rem 0 0 0;

		&-header {
			padding: 0 0.9rem;
			display: flex;
			width: 100%;
			justify-content: space-between;
			align-items: center;

			&--left {
				display: flex;
				gap: 1.2rem;
				width: 100%;
			}

			&--right {
				font-size: 0.8em;
				opacity: 0.75;
				padding: 0.2rem 1.5rem;
			}
		}

		& textarea {
			background: $color-desc;

			width: 100%;
			min-height: 2.2rem;
			height: 3.8rem;
			resize: none;
			padding: 0.6rem 0.9rem;
			border-bottom-left-radius: 0.4rem;
			border-bottom-right-radius: 0.4rem;

			&::selection {
				color: $color-white;
				background: $color-blue;
			}

			&:focus {
				outline: 1px solid $color-white;
			}
		}
	}
}
